.admonition {
  padding: 10px 15px;
  margin: 20px 0;
  border-left: 5px solid;
  border-radius: 4px;
}

.admonition {
  color: #F5F5F7;  
}

.admonition.important {
  border-left-color: #df76b1;
  background-color: #DC59A3;  
}

.admonition.note {
  border-left-color: rgb(105, 173, 228);
  background-color: #7970D3;  
}

.admonition.tip {
  border-left-color: #1E9D87;
  background-color: rgb(71, 116, 95);  
}

.admonition.warning {
  border-left-color: rgb(246, 194, 131);
  background-color: #C38547;  
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .admonition {
    color: #F5F5F7;  
  }

  .admonition.important {
    border-left-color: #df76b1;
    background-color: #DC59A3;  
  }

  .admonition.note {
    border-left-color: rgb(105, 173, 228);
    background-color: #7970D3;  
  }

  .admonition.tip {
    border-left-color: #1E9D87;
    background-color: rgb(71, 116, 95);  
  }

  .admonition.warning {
    border-left-color: rgb(246, 194, 131);
    background-color: #C38547;  
  }
}
